In [1]:
import pandas as pd

In [10]:
accel = pd.read_csv("./data/1066528_acceleration.txt", sep=' ', header=None)
hr = pd.read_csv("./data/1066528_heartrate.txt", header=None)
labels = pd.read_csv("./data/1066528_labeled_sleep.txt", sep=' ', header=None)
steps = pd.read_csv("./data/1066528_steps.txt", header=None)

In [17]:
accel

                    0         1         2         3
0       -21684.846509  0.007080  0.000641 -0.987595
1       -21684.817053  0.004150  0.000626 -0.990555
2       -21684.807881  0.004150  0.001114 -0.990082
3       -21684.788503  0.005127  0.000626 -0.989090
4       -21684.768389  0.005615  0.000137 -0.988586
...               ...       ...       ...       ...
1280995  28626.537032 -0.552719 -0.030014 -0.812393
1280996  28626.540938 -0.554215 -0.028534 -0.810486
1280997  28626.541945 -0.552734 -0.029999 -0.810440
1280998  28626.542783 -0.553711 -0.030502 -0.811432
1280999  28626.543641 -0.554718 -0.029999 -0.809021

[1281000 rows x 4 columns]

In [15]:
labels

         0  1
0        0  0
1       30  0
2       60  0
3       90  0
4      120  0
..     ... ..
947  28410  0
948  28440  0
949  28470  0
950  28500  0
951  28530  0

[952 rows x 2 columns]